%h1= resource_class.model_name.human(count: 2)

.row-fluid.actions
  .pull-right.padded
    = render 'new_button'

- if collection.present?
  %table.table.table-bordered.table-striped.sortable-table
    %thead
      %tr
        %th
        - attributes.each do |attr|
          %th= resource_class.human_attribute_name(attr)
        %th
    %tbody
      - collection.each_with_index do |resource, index|
        %tr.sortable-row{ :id => "resource-#{resource.id}" }
          = render 'sort_form', resource: resource

          - attributes.each do |attr|
            %td= render "display_#{attr}", resource: resource, index: index
          %td
            = link_to [:cms, resource], :method => :delete, data: { confirm: t('cms.are_you_sure'), }, :class => 'btn btn-small btn-danger' do
              %i.icon-trash.icon-white
              = t('cms.destroy')

- else
  .centered.empty-state
    .muted= t('.empty', name: resource_class.model_name.human(count: 2))
    = render 'new_button'
