= content_for :head do
  %title= @page.page_title.present? ? @page.page_title : @page.title

- if @page.bricks.map(&:type).include? "Kuhsaft::PlaceholderBrick"
  - unless @page.blank?
    - @page.bricks.localized.select(&:valid?).each do |brick|
      = render brick
    = render 'sub_pages' unless homepage?(@page)

- else
  - cache [@page, I18n.locale, @page.children] do
    - unless @page.blank?
      - @page.bricks.localized.select(&:valid?).each do |brick|
        = render brick
      = render 'sub_pages' unless homepage?(@page)
